audit-level=high
ignored-cves=GHSA-23hp-3jrh-7fpw,GHSA-34x7-hfp2-rc4v,GHSA-8qq5-rm4j-mr97,GHSA-83g3-92jg-28cx,GHSA-qffp-2rhf-9h96,GHSA-9ppj-qmqm-q256,GHSA-r6q2-hw4h-h46w,GHSA-wgrm-67xf-hhpq,GHSA-8x88-c5mf-7j5w,GHSA-pm4m-ph32-ghv5,GHSA-ggr8-5vv4-36mx,GHSA-r292-9mhp-454m,GHSA-w5hq-g745-h8pq,GHSA-vmf3-w455-68vh,GHSA-w8wr-v893-vjvp,GHSA-gvwx-54wh-qm9j

